<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title><%= locals.title %></title>
   <link rel="stylesheet" href="/css/style.css">
</head>
<body>
   <header class="flex h-[10vh] w-screen bg-white border shadow-xl select-none">
      <div class="w-[10%] z-50">
         <a href="/" class="w-full">
            <svg viewBox="0 0 491 218" shape-rendering="geometricPrecision" text-rendering="geometricPrecision">
               <g transform="matrix(.1 0 0-.1 0 228.768575)">
                  <path d="M3274,1705c-9-13-59-145-111-292s-105-282-118-299c-28-36-116-84-155-84-46,0-90,21-105,51-20,38-20,40,21,157c37,102,56,128,89,116c13-5,15-16,9-64-6-52-4-59,14-69c50-27,93-1,112,68c23,86-27,163-114,176-74,12-154-25-190-86-29-50-86-230-86-273c1-104,93-176,226-176c39,0,91,7,114,15c39,14,45,14,60,0c21-19,64-19,82-1c8,7,38,80,66,162c66,187,88,232,124,250c30,16,68,5,68-19c0-7-18-63-40-126-44-123-50-163-31-208s58-67,127-71c62-4,124,16,153,51c11,14,19,11,63-16c49-31,56-32,157-32c90,0,113,3,150,23c55,27,59,27,88,0c36-33,136-38,195-8l45,22l34-21c23-14,51-21,88-21c102,0,177,56,233,177c36,76,34,114-5,127-35,13-53-5-99-94-34-65-82-110-120-110-30,0-33,30-9,99c12,36,58,169,102,294c43,125,79,241,79,257c0,54-75,70-107,23-11-16-61-149-112-298-52-148-105-287-119-309-42-62-122-87-122-38c0,11,45,151,100,312c55,160,100,300,100,309c0,45-72,67-104,33-9-11-56-134-106-275-107-310-113-322-163-358-107-77-264-55-255,36c3,32,1,32,89,19c83-12,157,27,190,100c56,122-13,231-146,231-118,0-173-52-225-213-40-123-57-157-98-193-36-32-63-37-81-15-9,10-1,43,35,142c49,138,52,180,19,230-22,34-80,57-127,51-21-3-38-2-38,2s14,47,30,96c17,49,30,101,30,117c0,50-77,68-106,23Zm578-347c48-39,15-108-52-108-21,0-41,4-45,10-9,15,21,76,46,94c28,19,31,19,51,4Z" transform="matrix(1.234421 0 0 1.234421-1359.112379-353.880482)"/>
                  <path d="M1769.593023,711.076566c32.353439,144.650616-9.146493,431.748494-108.373986,578.494761-42.487306,65.141598-168.288505,182.652825-280.527515,236.143243l-44,17-23-26c-13-15-31-52-40-83l-18-55-13,61c-6,34-20,78-30,98l-18,37-80,2c-45,1-104-4-135-13-30-8-92-32-136-54-195-95-334-317-334-531c0-38,4-50,24-62c89-59,271-76,386-37c32.70545,9.307359,87.621334,33.135377,107.451491,50.080915c8.159694,6.190223,39.548509,27.919085,74.548509,62.919085c68,66,119,151,139,231l12,49l14-54c15.066101-87.158778,55.245792-181.837025,106.365914-260.742179c87.382322-120.425533,285.743941-243.390297,396.535587-246.895825Z" transform="matrix(.907067-.705229 0.705229 0.907067-436.5501 1150.760815)"/>
                  <path d="M3313,740c-41-17-35-72,14-122c23-23,33-42,30-52-8-20-36-21-43-1-6,15-34,21-34,7c0-4,7-18,16-30c20-28,69-30,84-3c17,33,11,57-25,95-35,37-44,69-24,81c6,4,16-1,24-11c10-14,17-16,25-7c9,8,7,16-9,32-23,23-26,24-58,11Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M2530,725c0-8,7-15,15-15c12,0,15-17,15-95s3-95,15-95s15,17,15,91c0,82,2,91,20,96c11,3,20,12,20,19c0,10-14,14-50,14-38,0-50-4-50-15Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M2660,630c0-91,3-110,15-110c11,0,15,12,15,46c0,41,2,45,23,42c18-2,23-10,25-45c2-29,8-43,18-43c11,0,14,21,14,110c0,91-3,110-15,110-11,0-15-12-15-44c0-31-5-46-16-50-26-10-34,2-34,50c0,32-4,44-15,44-12,0-15-19-15-110Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M2800,631v-111h51c57,0,66,23,11,28-28,3-32,7-32,32c0,22,5,29,22,32c31,4,33,25,3,32-20,5-25,13-25,36c0,25,4,29,33,32c49,5,38,23-15,26l-48,3v-110Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M3010,630v-110h45c52,0,71,23,61,74-8,40-8,46,0,78c8,36-24,68-71,68h-35v-110Zm65,50c0-13-6-25-12-27-16-6-27,21-19,43c9,23,31,11,31-16Zm5-75c16-19,3-57-18-53-18,3-27,30-18,54c7,18,20,18,36-1Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M3150,630v-110h50c37,0,50,4,50,14c0,9-12,16-32,18-28,2-33,7-33,28c0,18,6,26,23,28c12,2,22,9,22,15c0,7-10,17-22,22-15,7-23,19-23,35c0,21,5,26,33,28c20,2,32,9,32,18c0,10-13,14-50,14h-50v-110Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M3420,726c0-7,9-16,20-19c18-5,20-14,20-96c0-74,3-91,15-91s15,17,15,94c0,87,2,94,21,99c37,10,10,27-42,27-35,0-49-4-49-14Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M3647,720c-16-23-12-166,5-187c16-20,66-16,78,6c5,11,10,52,10,91s-5,80-10,91c-14,26-64,25-83-1Zm61-88c2-60,0-73-14-79-25-9-34,16-32,82c2,70,4,77,26,73c14-3,18-18,20-76Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M3780,630c0-91,3-110,15-110c11,0,15,12,15,45c0,38,3,45,20,45c11,0,20,6,20,14c0,7-9,16-20,19-15,4-20,14-20,36c0,28,3,31,30,31c20,0,30,5,30,15c0,11-12,15-45,15h-45v-110Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M3980,725c0-8,6-15,14-15c21,0,26-23,26-111c0-46,4-79,10-79s10,33,10,79c0,88,5,111,26,111c8,0,14,7,14,15c0,11-12,15-50,15s-50-4-50-15Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M4120,630c0-67,4-110,10-110s10,12,10,28c0,15,4,33,9,41c11,17,31,6,31-19c0-29,11-50,26-50c17,0,17,13,4,60-6,22-6,38,0,44c16,16,12,83-6,100-8,9-31,16-50,16h-34v-110Zm65,40c0-45-30-55-37-12-6,39,1,54,21,50c11-2,16-14,16-38Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M4262,639c3-89,6-103,23-115c16-11,25-11,45-1c24,12,25,17,28,115c2,85,0,102-12,102s-16-18-18-92c-3-79-6-93-20-96-16-3-18,6-18,92c0,80-3,96-15,96-13,0-15-16-13-101Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M4400,725c0-8,7-15,15-15c17,0,18-11,15-117-1-61,1-73,14-73s16,15,16,91c0,82,2,91,20,96c11,3,20,12,20,19c0,10-14,14-50,14-38,0-50-4-50-15Z" transform="translate(-239.75906-93.76361)"/>
                  <path d="M4536,724c-3-9-6-58-6-110c0-75,3-94,14-94c10,0,16,14,18,43c2,35,7,43,26,45c20,3,22-1,22-42c0-34,4-46,15-46c12,0,15,19,15,110s-3,110-15,110c-11,0-15-12-15-44c0-25-5-48-10-51-20-12-40,17-40,56c0,40-13,52-24,23Z" transform="translate(-239.75906-93.76361)"/>
               </g>
               <path d="M843.691522,1509.71457c-195-95-315.725976-311.017989-315.725976-525.017989c0-38,30.409227-226.889126,87.725073-258.001322c34.819726,170.293256,181.750017,726.548281,677.048141,788.847162-100.418278,77.079683-324.733465,54.174713-449.047238-5.827851Z" transform="matrix(.137105-.016033 0.016033 0.137105-34.533074-13.316796)"/>
               <path d="M108.647813,57.993215c5.669726-5.806502,21.280492-8.996281,30.695131-7.90027.415665,8.508228-4.745949,21.905027-13.058048,25.908805c2.338036-4.230073,8.160784-16.667023,6.716264-19.648654-2.278159-3.964183-17.851664,1.225416-24.353347,1.640119Z" transform="matrix(.977158 0.212515-.212515 0.977158 15.292313-20.422347)" fill="#fff" stroke="#fff" stroke-width="0.982" stroke-linecap="round" stroke-linejoin="round"/>
               <path d="M108.647813,57.993215c5.669726-5.806502,21.280492-8.996281,30.695131-7.90027.415665,8.508228-4.745949,21.905027-13.058048,25.908805c2.338036-4.230073,8.160784-16.667023,6.716264-19.648654-2.278159-3.964183-17.851664,1.225416-24.353347,1.640119Z" transform="matrix(.934448-.356098 0.356098 0.934448 36.287273 105.115132)" fill="#fff" stroke="#fff" stroke-width="0.982" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
         </a>
      </div>
      <div id="navigationNavbar" class="flex w-[60%] my-auto mx-4 text-3xl">
         <div class=" w-24 cursor-pointer mx-5 text-center hover:text-gray-400 hover:font-semibold">
            <a class="w-full h-full" href="/authorsView">
               Authors
            </a>
         </div>
         <div class="w-24 cursor-pointer mx-5 text-center hover:text-gray-400 hover:font-semibold">
            <a class="w-full h-full" href="/booksView">
               Books
            </a>
         </div>
         <div class="w-24 cursor-pointer mx-5 text-center hover:text-gray-400 hover:font-semibold">
            <a class="w-full h-full" href="/reviewsView">
               Reviews
            </a>
         </div>
         <div class="w-24 cursor-pointer mx-5 text-center hover:text-gray-400 hover:font-semibold">
            <a class="w-full h-full" href="/salesView">
               Sales
            </a>
         </div>
         <div class="w-24 cursor-pointer mx-5 text-center hover:text-gray-400 hover:font-semibold">
            <a class="w-full h-full" href="/informationView">
               Information
            </a>
         </div>
      </div>
      <div id="searchNavbar" class="flex w-[30%] justify-end pr-10">
         <input id="textInput" class="w-[50%] h-10 border border-black my-auto px-3 rounded-lg" type="text">
         <div class="text-xl h-10 my-auto ml-4">
            <button class="border h-full px-3 py-auto rounded-lg border-black bg-gray-100 hover:bg-gray-300">
               <a href="#" class="w-full h-full" id="submitButton"> Search </a>
            </button>
         </div>
      </div>
      <script>
         document.getElementById("submitButton").addEventListener("click", (event) => {
            event.preventDefault();

            const inputValue = document.getElementById("textInput").value;
            const linkElement = document.getElementById("submitButton");

            linkElement.href = "/searchView/?description="+inputValue;

            window.location.href = linkElement.href;
         });
      </script>
   </header>
   <div id="modal" class="z-50 absolute flex justify-center top-0 w-screen h-screen hidden select-none">
      <div class="flex justify-center top-0 w-screen h-screen z-50">
          <div class="blackModal absolute top-0  w-full h-full bg-black opacity-80 z-50"></div>
          <div class="absolute z-50 opacity-100 w-2/5">
              <div class="absolute w-full bg-white rounded top-[50vh] -translate-y-[75%] px-12 py-8">
                  <div class="text-3xl mb-7 my-auto font-semibold">
                      Are you sure about delete this row..
                  </div>
                  <div class="flex justify-between w-full">
                      <div class="w-2/5">
                          <button class="quitModal w-full border border-secundary bg-gray-50 hover:bg-gray-100 hover:border-white py-2 px-6 text-center text-lg font-medium rounded-lg select-none">
                              No, cancel pls
                          </button>
                      </div>
                      <div class="w-2/5">
                          <button id="confirmDelete" class="w-full border border-secundary bg-gray-50 hover:bg-gray-100 hover:border-white py-2 px-6 text-center text-lg font-medium rounded-lg select-none">
                              Yes, I am sure!
                          </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
   </div>
   <%- body%>
</body>
