<div class="bg-slate-200 h-[90vh] bg-opacity-50 ">
    <div class="w-full text-5xl font-semibold italic text-center pt-5">
        Books
    </div>
    <div class="overflow-x-auto">
        <div class="min-w-screen flex items-center justify-center bg-gray-100 font-sans overflow-hidden">
            <div class="w-full lg:w-5/6">
                <div class="bg-white shadow-md rounded my-6">
                    <!--TODO: Generate dinamic table for the fake data-->
                    <table class="min-w-max w-full table-auto">
                        <thead>
                            <tr class="bg-gray-200 text-gray-600 uppercase text-sm leading-normal">
                                <th class="py-3 px-6 text-left">Name</th>
                                <th class="py-3 px-6 text-left">Summary</th>
                                <th class="py-3 px-6 text-center">Date of publication</th>
                                <th class="py-3 px-6 text-center">Number of sales</th>
                            </tr>
                        </thead>
                        <tbody class="text-gray-600 text-sm font-light">
                            <tr class="border-b border-gray-200 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <span class="font-medium">React Project</span>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <span>Eshal Rosas</span>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>dasads</span>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>Active</span>
                                </td>
                            </tr>
                            <tr class="border-b border-gray-100 bg-gray-50 hover:bg-gray-100">
                                <td class="py-3 px-6 text-left whitespace-nowrap">
                                    <span class="font-medium">React Project</span>
                                </td>
                                <td class="py-3 px-6 text-left">
                                    <span>Eshal Rosas</span>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>dasads</span>
                                </td>
                                <td class="py-3 px-6 text-center">
                                    <span>Active</span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    let authors = document.getElementById("authors")
    let books = document.getElementById("books")
    let reviews = document.getElementById("reviews")
    let sales = document.getElementById("sales")

    authors.classList.toggle("hidden")
    books.classList.toggle("hidden")
    reviews.classList.toggle("hidden")
    sales.classList.toggle("hidden")

</script>