<% a = [{a:11}, {a:22}, {a:33}]  %>
<div class="bg-slate-200 h-[90vh] bg-opacity-50 ">
    <div class="w-full text-5xl font-semibold italic text-center pt-5">
        Information
    </div>
</div>
<script>
    
    let navigationNavbar = document.getElementById("navigationNavbar")
    let searchNavbar = document.getElementById("searchNavbar")
    navigationNavbar.classList.toggle("hidden")
    searchNavbar.classList.toggle("hidden")

</script>