<div class="bg-slate-200 h-[90vh] bg-opacity-50 ">
    <div class="w-full text-5xl font-semibold italic text-center mt-5">
        Reviews
    </div>
</div>
<script>
    
    let authors = document.getElementById("authors")
    let books = document.getElementById("books")
    let reviews = document.getElementById("reviews")
    let sales = document.getElementById("sales")

    authors.classList.toggle("hidden")
    books.classList.toggle("hidden")
    reviews.classList.toggle("hidden")
    sales.classList.toggle("hidden")

</script>