<div class="bg-slate-200 h-[90vh] bg-opacity-50 select-none">
    <div class="w-4/5 text-3xl font-semibold italic text-left pt-5 mx-auto">
        Search classified the next results..
    </div>
    <div class="w-4/5 mx-auto overflow-y-auto max-h-[75vh] mt-6">
        <% coincidences.forEach((element) => { %>
            <div class="flex my-4">
                <div class="h-2 w-2 rounded-full border border-black bg-black my-auto mr-3"></div>
                <div> <span class=" font-bold"><%= element.name %> :</span> <%= element.summary %> &nbsp; </div>
            </div>
        <% }) %>
    </div>
</div>